<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <sessionEnd>
        <processor type="SC_Abort_SessionEnd.Pipelines.AbortSessionEnd,SC-Abort-SessionEnd" patch:after="*[1]" />
      </sessionEnd>
      <postSessionEnd>
        <processor type="SC_Abort_SessionEnd.Pipelines.AbortPostSessionEnd,SC-Abort-SessionEnd" patch:after="*[1]" />
      </postSessionEnd>
    </pipelines>
    <event name="sessionEnd:starting ">
      <handler type="Testing.Events.AbortSessionEnd, SC_Abort_SessionEnd" method="OnSessionEnd" patch:after="*[1]" />
    </event>
    <event name="sessionEnd:postSessionEnd:starting">
      <handler type="Testing.Events.AbortSessionEnd, SC_Abort_SessionEnd" method="OnPostSessionEnd" patch:after="*[1]" />
    </event>
  </sitecore>
</configuration>
